@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: "Inter", system-ui, sans-serif;
}

html {
  font-size: 1.2vw;
}

/* Hide scrollbar but allow programmatic scroll */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
